body {
    background: radial-gradient(circle, #0a3115, #001a05);
    color: #f1ffef;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    padding-top: 15px;
    user-select: none;
}

/* 標題更立體 */
h1 {
    font-size: 34px;
    margin-bottom: 8px;
    letter-spacing: 2px;
    text-shadow:
        0px 0px 10px rgba(0,0,0,0.9),
        2px 2px 5px rgba(0,0,0,0.5);
}

/* 棋盤外框更漂亮 */
#board {
    width: 520px;
    height: 520px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    
    border: 12px solid #0c1f0d;
    border-radius: 20px;

    background: #003b11;
    box-shadow:
        0 0 25px rgba(0,0,0,0.9),
        inset 0 0 30px rgba(0,0,0,0.6);
}

/* 格子強化 + 點擊可視化回饋 */
.cell {
    border: 1px solid rgba(0,0,0,0.55);
    cursor: pointer;
    position: relative;
    perspective: 650px;
    transition: 0.18s;
}

.cell:hover {
    transform: scale(1.06);
    filter: brightness(135%);
}

.disc {
    width: 76%;
    height: 76%;
    top: 12%;
    left: 12%;
    position: absolute;
    border-radius: 50%;

    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    
    /* 棋子厚度 illusion：內凹發亮 */
    background: radial-gradient(circle at 30% 30%, 
                rgba(255,255,255,0.9), 
                rgba(0,0,0,0.9));

    box-shadow:
        inset 4px 4px 8px rgba(255,255,255,0.3),
        inset -4px -4px 8px rgba(0,0,0,0.7),
        0px 0px 10px rgba(0,0,0,0.8);

    border: 3px solid rgba(0,0,0,0.5);

    perspective: 800px;

}

/******** 黑棋 ********/
.disc.black {
    background: radial-gradient(circle at 30% 30%, #444, #000);
    box-shadow:
        inset 5px 3px 10px rgba(255,255,255,0.15),
        inset -5px -3px 12px rgba(0,0,0,1),
        0 0 12px rgba(0,0,0,0.9);
}

/******** 白棋 ********/
.disc.white {
    background: radial-gradient(circle at 30% 30%, #fff, #b5b5b5);
    box-shadow:
        inset 5px 5px 10px rgba(255,255,255,0.8),
        inset -4px -4px 12px rgba(0,0,0,0.3),
        0 0 12px rgba(0,0,0,0.9);
}

/* 翻轉動畫 */
.flip-anim {
    transform: rotateY(180deg);
}

/*提示落子區域更明顯*/
.possible {
    background: rgba(88,255,88,0.38) !important;
    box-shadow: inset 0 0 15px rgba(0,255,50,0.6);
}

/* 操控面板 UI 進化 */
.controls {
    margin: 12px;
    display: flex;
    gap: 18px;
    justify-content: center;
    font-size: 18px;
}

/* 下拉式選單 */
select {
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    background: #d7ffe8;
}

/* 按鈕 */
button {
    padding: 7px 16px;
    border-radius: 7px;
    border: none;
    background: linear-gradient(#34bb4a, #116020);
    font-size: 16px;
    color: white;
    cursor: pointer;
    box-shadow:
        0 3px 6px rgba(0,0,0,0.6);
    transition: 0.2s;
}

button:hover {
    transform: scale(1.08);
    filter: brightness(130%);
}

button:active {
    transform: scale(0.97);
}

/* 遊戲狀態更清楚 */
#status {
    margin-top: 15px;
    font-size: 22px;
    text-shadow:
        0px 0px 8px black;
}





