body { 
    background: linear-gradient(#265427, #143315); 
    color: white; 
    text-align: center; 
    font-family: sans-serif; 
} 

h1 { 
    font-size: 28px; 
    text-shadow: 0px 0px 8px black; 
} 

#board { 
    width: 480px; 
    height: 480px; 
    margin: auto; 
    display: grid; 
    grid-template-columns: repeat(8, 1fr); 
    border: 8px solid #0c260d; 
    border-radius: 8px; 
    background: #013b11; 
    box-shadow: 0px 0px 20px black; 
} 

.cell { 
    border: 1px solid black; 
    position: relative; 
    cursor: pointer; 
    perspective: 600px; 
} 

.cell:hover { 
    filter: brightness(120%); 
} 

.disc { 
    width: 80%; 
    height: 80%; 
    border-radius: 50%; 
    position: absolute; 
    top: 10%; 
    left: 10%; 

    transform-style: preserve-3d; 
    transition: transform 0.6s; 
    
    /* 棋子厚度 illusion：內凹發亮 */ 
    background: radial-gradient(circle at 30% 30%, 
            rgba(255,255,255,0.9), 
            rgba(0,0,0,0.9)); 
    
    box-shadow: 
        inset 4px 4px 8px rgba(255,255,255,0.3), 
        inset -4px -4px 8px rgba(0,0,0,0.7), 
        0px 0px 10px rgba(0,0,0,0.8); 
    
    border: 3px solid rgba(0,0,0,0.5); 
    
    perspective: 800px; 
} 

/* 黑棋特效 */ 
.disc.black { 
    background: radial-gradient(circle at 30% 30%, 
        #444, 
        #000); 
    
    box-shadow: 
        inset 4px 4px 10px rgba(255,255,255,0.2), 
        inset -4px -4px 12px rgba(0,0,0,1), 
        0px 0px 12px rgba(0,0,0,0.8); 
} 
    
/* 白棋特效 */ 
.disc.white { 
    background: radial-gradient(circle at 30% 30%,
        #fff, 
        #b5b5b5); 
    box-shadow: 
        inset 4px 4px 10px rgba(255,255,255,0.8), 
        inset -4px -4px 12px rgba(0,0,0,0.4), 
        0px 0px 12px rgba(0,0,0,0.8); 
} 
/* 立體翻轉動畫 */ 
.flip-anim { 
    transform: rotateY(180deg); 
} 
    
.possible { 
    background: rgba(72,255,74,0.35)!important; 
} 
    
.controls { 
    margin: 10px; 
} 
    
#status { 
    margin-top: 15px; 
    font-size: 20px; 
}









